<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 7]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8"> <!-- simplified version; works on legacy browsers -->
	
	{exp:seo_lite entry_id="{entry_id}"}
	
	<!-- Meta Tags -->
	<meta name="robots" content="index, follow">
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	
	<!-- CSS -->
	<link rel="stylesheet" href="/css/styles.css" type="text/css">
	
</head>

<body>

	<div id="wrapper">
	
		<div id="header">
	
			<a id="logo" href="index.html">{site_name}</a>
			
			<ul id="nav">
				<li><a href="#">Home</a></li>
			</ul> <!-- nav -->
	
		</div> <!-- header -->