@font-face {
    font-family: 'FONT-NAME';
    src: url('/assets/fonts/FILE.eot');
    src: url('/assets/fonts/FILE?#iefix') format('embedded-opentype'),
         url('/assets/fonts/FILE.svg') format('svg'),
         url('/assets/fonts/FILE.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.replace {
	font-family: *****;
	font-weight: 400 !important;
}

.ie .replace {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/assets/images/blank.png,sizingMethod=crop);
	zoom: 1;
}


.wf-loading .replace {
  visibility: hidden;
}

.wf-active .replace {

}